* {
    margin: 0;
    scroll-behavior: smooth;
}

header {
    background-color: #343541;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 90px;
    padding: 10px;
}

nav {
    display: flex;
    font-size: 20px;
}

header a {
    margin: 10px;
    text-decoration: none;
    color: white;
}

body {
    background-color: #e2dfdf
}


.aboutMe {
    display: flex;
    font-size: 35px;
    flex-direction: row-reverse;
    align-items: center;
    margin: left 200px;
    padding-left: 20px;
}

#profilePic {
    height: 300px;
    width: 300px;
    margin: 20px;
}

.portfolio {
    display: flex;
    justify-content: center;
    position: relative;
}

.portfolio img {
    height: 600px;
    margin-top: 40px;
    margin-bottom: 30px;
    width: 1300px;
    border-style: inset;
    border-radius: 25px;
}

h2 {
display: flex;
flex-direction: column;
align-items: center;
margin: 5px;
padding: 5px;
font-weight: 900;
font-size: 40px
}

.small-images {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.small-images img {
    margin-left: 25px;
    width: 95%;
    height: 85%;
    border-style: solid;
    border-radius: 25px;
}

.semantic-overlay, .calculator-overlay, .study-overlay {
    position: absolute;
    font-size: 60px;
    color: white;
    background-color: #343541;
}

.semantic-overlay {
    bottom: 5%;
    left: 40%;
}

.calculator-overlay {
    bottom: 1%;
    left: 18%;

}

.study-overlay {
    bottom: 1%;
    right: 17%;
}

.contact {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.contact a {
    font-size: 30px;
    text-decoration: none;
    color: black;
}

#contact {
    scroll-behavior: auto;
}

@media (max-width: 768px) {
    .small-images { 
        flex-direction: column;
        width: 90%;
    }
    .calculator-overlay {
    bottom: 51%;
    left: 36%;
    }

    .study-overlay {
        right: 27%;
    }

    .semantic-overlay {
        left: 30%;
    }
    
    .portfolio img {
        width: 700px;
    }
}

@media (max-width: 320px) {
    * {
        font-size: 11px
    }
    .aboutMe {
        flex-direction: column;
    }
    .portfolio img {
        height: 90%;
        width: 90%; 
        margin-left: 17px;
        margin-top: 5px;
    }
    .small-images p, .portfolio p {
        font-size: 30px;
    }
}